apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wordpress-volume
  namespace: wordpress
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: do-block-storage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
      - name: wordpress
        image: wordpress:latest
        ports:
        - containerPort: 80
          name: wordpress
        volumeMounts:
        - name: wordpress-data
          mountPath: /var/www/html
        env:
        - name: WORDPRESS_DB_HOST
          value: 'mysql-0.mysql.wordpress.svc.cluster.local:3306'
        - name: WORDPRESS_DB_NAME
          value: 'wordpress'
        - name: WORDPRESS_DB_USER
          valueFrom:
            secretKeyRef:
              name: wpsecrets
              key: WORDPRESS_DB_USER
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: wpsecrets
              key: WORDPRESS_DB_PASSWORD
        resources:
          requests:
            memory: '1.5Gi'
            cpu: '1000m'
          limits:
            memory: '1.5Gi'
            cpu: '1000m'
      volumes:
      - name: wordpress-data
        persistentVolumeClaim:
          claimName: wordpress-volume
---
apiVersion: v1
kind: Service
metadata:
  namespace: wordpress
  name: wordpress
  labels:
    app: wordpress
spec:
  selector:
    app: wordpress
  ports:
  - port: 80
    name: wordpress
